@model IEnumerable<MVCCRUD.Models.TbArticulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StkArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeBaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StkArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeBaja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodArt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodArt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodArt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
