@model IEnumerable<MVCCRUD.Models.TbArticulosLiquidacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnidadesLiquidar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioLiquidar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodArtNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadesLiquidar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioLiquidar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodArtNavigation.CodArt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumReg">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumReg">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumReg">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
